/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
/* ShowCase */
.showcase {
  height: 100vh;
  width: 100%;
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(30deg, #013a6b 50%, #004e95 50%);
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* Common syntax */
.left,
.right {
  width: 50%;
}
.left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 100px;
}
.left h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-style: italic;
  animation: move 2s ease-out;
}
/* Right SIde */
.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.right h1 {
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  font-style: italic;
  width: 71%;
  animation: move 2s ease-out;
}

/*
  Adding the Key frames
*/
@keyframes move {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* Todo */

.todo {
  margin: 50px 0px;
  width: 100%;
  height: 100%;
}
.box {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}
.box input {
  padding: 15px 20px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.box i {
  background-color: white;
  padding: 10px 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  width: 71%;
  position: relative;
}
ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
ul li i {
  position: absolute;
  right: 20px;
}
.fa-times {
  right: 50px;
}

/*
  Media 
*/
@media (max-width: 599px) {
  .showcase {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  /* Common syntax */
  .right {
    width: 100%;
  }
  .left {
    display: none;
  }
  /* Right SIde */
  .right {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  /* Todo */

  ul {
    width: 78%;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .showcase {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  /* Common syntax */
  .right {
    width: 100%;
  }
  .left {
    display: none;
  }
  /* Right SIde */
  .right {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  /* Todo */

  ul {
    width: 68%;
    position: relative;
  }
}
